/* google fonts added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins&display=swap');

.custom-heading-style{
    font-family: 'PT Serif', serif;
    font-size: 36px;
    text-align: center;
    color: #800413;
}

.custom-blogs-heading-style{
    font-size: 28px;
    font-family: 'PT Serif', serif;
    color: #7E372F;
}

.custom-blogs-para-style{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 20px;
}